{% extends "base.html" %}

{% block content %}
<style>
    p {
        width: 50vw;
    }
    .links {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }
</style>
<h1>Time dependent quotes</h1>

<p>
    This is an application that is used to prove your time dependent sources like for example from the internet.
    You can upload your quote you want to save which can be for example an homepage you downloaded.
    Now you can reference to the direct link to your source and you can prove that your source was valid at a
    specific time.
</p>

<div class="links">
    <a href="/">Home</a>
    <a href="/validate">Validate</a>
    <a href="/upload">Upload</a>
    <a href="/all-sources">All sources</a>
</div>


{% endblock content %}